<table class="striped highlight">
    <thead>
        <tr>
            <td>Name</td>
            <td>Phone</td>
            <td>BrithDay</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in people">
            <td>
                <a href="/#/view/{{$index}}">
                {{person.fname}} {{person.lname}}
                </a>
            </td>
            <td>
                {{person.tel}}
            </td>
            <td>
                {{person.birthDay}}
            </td>
        </tr>
    </tbody>
</table>
