<!DOCTYPE html>
<html lang="en" ng-app="multiCtrlModule">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
</head>

<body class="container">
    <div ng-controller="CtrlOne">
        <input type="text" ng-model="message">
        <button ng-click="handleClick(message)" class="btn">BROADCAST</button>
    </div>

    <div ng-controller="CtrlTwo">
        <input type="text" ng-model="message">
    </div>

    <div ng-controller="CtrlThree">
        <input type="text" ng-model="message">
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script>
    var multiCtrlModule = angular.module('multiCtrlModule', [])

    multiCtrlModule.factory('myShareService', ['$rootScope', function($rootScope) {
        var sharedService = {};

        sharedService.message = '';

        sharedService.prepForBroadcast = function(msg) {
            this.message = msg;
            this.broadcastItem();
        }

        sharedService.broadcastItem = function() {
            $rootScope.$broadcast('handleBroadcast')
        }

        return sharedService;
    }])

    multiCtrlModule.controller('CtrlOne', ['$scope', 'myShareService', function($scope, myShareService) {
        $scope.handleClick = function(msg) {
            myShareService.prepForBroadcast(msg)
        }

        $scope.$on('handleBroadcast', function() {
            $scope.message = 'One ' + myShareService.message
        });
    }])

    multiCtrlModule.controller('CtrlTwo', ['$scope', 'myShareService', function($scope, myShareService) {
        $scope.$on('handleBroadcast', function() {
            $scope.message = 'Two ' + myShareService.message
        });
    }])

    multiCtrlModule.controller('CtrlThree', ['$scope', 'myShareService', function($scope, myShareService) {
        $scope.$on('handleBroadcast', function() {
            $scope.message = 'Three ' + myShareService.message
        });
    }])
    </script>
</body>

</html>
